@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.home {
  @include row;
  padding: $app-padding;
}

.panel {
  @include col;
  flex: 1;
}

.row {
  @include row;
}

.col {
  @include col;
}

.alignCenter {
  @include alignCenter;
}

.justifyCenter {
  @include justifyCenter;
}

.button {
  @include button;
}

.input {
  @include input;
}

.marginVertical {
  margin: $small-margin 0;
}

.marginHorizontal {
  margin: 0 $small-margin;
}
