@import 'assets/styles/mixins.scss';
@import 'assets/styles/variables.scss';

.candidate {
  @include row;
  @include alignCenter;
  padding: $list-item-padding-vertical $list-item-padding-horizontal;
}

.profilePic {
  width: 3.125rem;
  height: 3.125rem;
}

.username {
  margin-left: $small-margin;
  color: $text-heavy;
}